**/__pycache__
**/*.pyc
**/.env
**/.env.*
**/node_modules
**/.next
**/.git
**/.pytest_cache
**/.ruff_cache
**/venv
**/.venv
**/*.egg-info
**/.specify
**/.claude
**/specs
**/*.md
!shared/shared/**/*.md
!skill/**/*.md
